.page-header {
    /*background-color: #D48166;*/
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    display:grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 50px;
    justify-content: center;
}
html {
    display: table;
    margin: auto;
}
body {
    padding-top: 65px;
    display: table-cell;
    vertical-align: middle;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
      display: table-cell;
    vertical-align: middle;
    }
  }




body {
    
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #00458B;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    margin: auto;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #00458B;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #00458B;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.post {
    border-color: #3FD2C7;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: #3FD2C7;
    margin-bottom: 70px;
    color: #FFFFFF;
}

.post h2 a, .post h2 a:visited {
    color: #00458B;
}
.title{
    color: #00458B;
}

#plus{
    vertical-align: middle;
}