{% extends 'cv/base.html' %}
    {% block content %}
        <div class="summary-text">
                    
            <h2>Summary</h2>
            <p id="id_summary">{{ summary.text|linebreaksbr }}</p>
            <div class="date">
                <p>last edited: {{ summary.last_edited }}</p>
            </div>
            <a href="edit-summary"><button type="submit">Update Summary</button></a>
        </div>        
        <div class="Education and qualifications">
            <a href="education-overview"><h2 id="id_education_heading">Education and Qualifications</h2></a>
            {% for qualification in qualifications %}
            <a href="{% url 'edit_education' pk=qualification.pk %}"><h3>{{ qualification.location }}</h3></a>
                <h4>{{ qualification.date }}</h4>
                <p>{{ qualification.description|linebreaksbr }}</p>
    {% endfor %}
        </div>
    {% endblock %}