{% extends 'cv/base.html' %}
    {% block content %}
        <div class="basic information">
            <h2>Archie Watson</h2>
            <p>Address Line 1
               <br>Address Line 2
               <br>Town
               <br>City
               <br>Postcode
            </p>
            <p>
                Mobile Number
            </p>
            <p>
                Email Address
            </p>
        </div>
        <div class="summary-text">
                    
            <h2>Summary</h2>
            <p id="id_summary">{{ summary.text|linebreaksbr }}</p>
            <div class="date">
                <p>last edited: {{ summary.last_edited }}</p>
            </div>
            <a href="edit-summary"><button type="submit">Update Summary</button></a>
        </div>        
        <div class="Education and qualifications">
            <h2 id="id_education_heading">Education and Qualifications</h2>
            {% for qualification in qualifications %}
            <a href="{% url 'edit_education' pk=qualification.pk %}"><h3>{{ qualification.location }}</h3></a>
                <h4>{{ qualification.date }}</h4>
                <p>{{ qualification.description|linebreaksbr }}</p>
            {% endfor %}
            <a href="new-education"><button type="submit">Add Qualification</button></a>
        </div>
        <div class="Work Experience">
            <h2 id="id_experience_heading">Work Experience</h2>
            {% for experience in work_experience %}
            <a href="{% url 'edit_experience' pk=experience.pk %}"><h3>{{ experience.location }}</h3></a>
                <h4>{{ experience.date }}</h4>
                <p>{{ experience.duties|linebreaksbr }}</p>
                <p>{{ experience.description|linebreaksbr }}</p>
            {% endfor %}
            <a href="new-experience"><button type="submit">Add Work Experience</button></a>
        </div>
        <div class="Skills">
            <h2 id="id_skills_heading">Additional Skills and Information</h2>
            {% for skill in skills %}
            <a href="{% url 'edit_skill' pk=skill.pk %}"><h3>{{ skill.heading }}</h3></a>
                <p>{{ skill.info|linebreaksbr }}</p>
            {% endfor %}
            <a href="new-skill"><button type="submit">Add Skill/Information</button></a>
        </div>
    {% endblock %}