{% extends 'cv/base.html' %}

{% block content %}
    <h2>Education and Qualifications</h2>
        <a href="new-education"><button type="submit">Add</button></a>
    {% for qualification in qualifications %}
        <div class="qualifications" >
            <h2><a href="{% url 'edit_education' pk=qualification.pk %}">{{ qualification.location }}</a></h2>
                <h3>{{ qualification.date }}</h3>
                <p>{{ qualification.description|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}