{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <title>
            Archie Watson
        </title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/">Archie Watson</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a href="/">Blog</a></li>
                    <li><a href="/cv">CV</a></li>
                  </ul>
                  
                </div>
              </nav>
        </header>
        
        
        <div class="content-container">
            <div class="row">
                <div class="col-md-8">
                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                <form method="post" action="{% url 'login' %}" class="post-form">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <input type="submit" value="login" id="login_button"  />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                </div>
            </div>
        </div>
    </body>
</html>

    