{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <title>
            Archie Watson
        </title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/">Archie Watson</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a href="/">Blog</a></li>
                    <li><a href="/cv">CV</a></li>
                  </ul>
                  
                </div>
              </nav>
        </header>
        
        
        <div class="content-container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Sign up Form</h2>
                    <form method="post" class="post-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                    {% endfor %}
                    <button type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>